@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  color: #444; }

h1,
h2,
h3,
h4 {
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading,
  h4.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading,
  h4.sm-heading {
    margin-bottom: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/home-image.jpeg);
  background-attachment: fixed;
  background-size: cover;
  z-index: -1; }
  .bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.7); }

main {
  color: #fff;
  padding: 4rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 2; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #d59541;
        transition: all 0.5s ease-out; }
  main#welcome-section h1 {
    margin-top: 20vh; }

#about {
  width: 100%;
  min-height: 100vh;
  padding: 4rem; }
  #about .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "about-heading about-heading about-heading" "bioimage bio bio" "skills-heading skills-heading skills-heading" "skill-1 skill-1 icons-1" " icons-2 skill-2 skill-2" "skill-3 skill-3 icons-3";
    grid-template-columns: repeat(3, 1fr); }
  #about .about-heading {
    grid-area: about-heading;
    text-align: center; }
  #about .bio-img {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid #d59541; }
  #about .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  #about .skills-heading {
    font-size: 1.7rem;
    text-align: center;
    grid-area: skills-heading; }
  #about .skill-1 {
    grid-area: skill-1; }
  #about .skill-2 {
    grid-area: skill-2; }
  #about .skill-3 {
    grid-area: skill-3; }
  #about .skill {
    background: #f7f7f7;
    padding: 1rem;
    border-bottom: 5px solid #d59541;
    color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    transition: all 0.5s ease-out; }
    #about .skill:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); }
  #about .skill-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem; }
    #about .skill-icons .skill-icon {
      margin: 0.4rem; }
      #about .skill-icons .skill-icon.fa-html5 {
        color: #dd4b25; }
      #about .skill-icons .skill-icon.fa-css3-alt {
        color: #146eb0; }
      #about .skill-icons .skill-icon.fa-js {
        color: #e8d34d; }
      #about .skill-icons .skill-icon.fa-sass {
        color: #cf649a; }
      #about .skill-icons .skill-icon.fa-node {
        color: #79b461; }
      #about .skill-icons .skill-icon.fa-npm {
        color: #cb3837; }
      #about .skill-icons .skill-icon.fa-database {
        color: #363739; }
      #about .skill-icons .skill-icon.fa-code-branch {
        color: #413932; }
      #about .skill-icons .skill-icon.fa-github {
        color: #12283a; }
      #about .skill-icons .skill-icon.fa-terminal {
        color: #020204; }
      #about .skill-icons .skill-icon:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-out; }

#projects {
  width: 100%;
  min-height: 100vh;
  padding: 2rem; }
  #projects .projects-heading,
  #projects .projects-heading-secondary {
    text-align: center; }
  #projects .heading-tertiary {
    font-size: 1.7rem;
    padding-bottom: 1.5rem; }
  #projects .projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); }
    #projects .projects .project-tile {
      max-width: 400px;
      margin: 0 auto 3rem auto;
      margin-bottom: 3rem;
      background: #f8f9fa;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      transition: all 0.5s ease-out; }
      #projects .projects .project-tile-body {
        padding: 1rem; }
      #projects .projects .project-tile-title, #projects .projects .project-tile-text {
        padding-bottom: 0.5rem; }
      #projects .projects .project-tile:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); }
    #projects .projects img {
      width: 100%;
      height: auto;
      border-radius: 5px 5px 0 0; }
  #projects .web-apps {
    display: flex; }

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    color: set-text-color;
    transition: all 0.5s ease-out; }

.btn-dark {
  background: #12283a; }
  .btn-dark:hover {
    background: #24292e; }

.btn-light {
  background: #2368a2; }
  .btn-light:hover {
    background: #1a4971; }

#contact {
  width: 100%;
  min-height: calc(100vh - 60px); }
  #contact .contact-heading, #contact .contact-heading-secondary {
    margin: 2rem;
    text-align: center; }
  #contact .contact-icons {
    text-align: center;
    margin: 1rem; }
    #contact .contact-icons i {
      margin: 1rem;
      padding: 2.5rem;
      background: #c4c4c4;
      border-radius: 50%; }
      #contact .contact-icons i:hover {
        transform: scale(1.1);
        color: #d59541;
        transition: all 0.5s ease-out; }

#main-footer {
  height: 60px;
  padding: 1rem;
  background: #343a40;
  color: #fff;
  text-align: center; }

#navbar {
  position: fixed;
  width: 100%;
  height: auto; }
  #navbar a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999; }
    #navbar a.skip-main:focus, #navbar a.skip-main:active {
      color: #fff;
      background-color: #000;
      left: auto;
      top: auto;
      width: 30%;
      height: auto;
      overflow: auto;
      margin: 10px 35%;
      padding: 5px;
      border-radius: 15px;
      border: 4px solid yellow;
      text-align: center;
      font-size: 1.2rem;
      z-index: 999; }

.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
    .menu-btn .btn-line.dark {
      background: #21252a; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    background: rgba(55, 55, 55, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(68, 68, 68, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/elmer-riggs.jpg);
      border-radius: 50%;
      border: 3px solid #d59541; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #d59541; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  #projects .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  #welcome-section {
    padding: 4rem 2rem; }
    #welcome-section .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/elmer-riggs-small.jpg);
      width: 150px;
      height: 150px; }
  #about .about-info {
    grid-template-areas: "about-heading" "bioimage" "bio" "skills-heading" "icons-1" "skill-1" "icons-2" "skill-2" "icons-3" "skill-3";
    grid-template-columns: 1fr; }
    #about .about-info .bio-heading {
      text-align: center; }
  #projects .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  #welcome-section h1 {
    margin-top: 10vh; }
  #projects .projects {
    grid-template-columns: 1fr; } }
