$primary-color: #fff;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/home-image.jpeg);
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// @mixin background {
//   @if $show-home-image {
//     &#bg-img {
//       background: $home-image;
//       background-size: cover;
//     }

//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       background: rgba($primary-color, $background-opacity);
//     }
//   }
// }

// Set text colour
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
