@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  color: $primary-color;
}

// Headings
h1,
h2,
h3,
h4 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.md-heading {
    font-size: 4.5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0.5rem;
  list-style: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// Landing section

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $home-image;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color, $background-opacity);
  }
}

main {
  color: set-text-color($primary-color);
  padding: 4rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 2;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#welcome-section h1 {
    margin-top: 20vh;
  }
}

// About section

#about {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "about-heading about-heading"
      "bioimage bio"
      "skills-heading skills-heading"
      "skill-1 icons-1"
      "icons-2 skill-2"
      "skill-3 icons-3";
    grid-template-columns: repeat(2, 1fr);

    .about-heading {
      grid-area: about-heading;
      text-align: center;
    }

    .bio-img {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }

    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .skills-heading {
      font-size: 1.7rem;
      text-align: center;
      grid-area: skills-heading;
    }

    .skill-1 {
      grid-area: skill-1;
    }

    .skill-2 {
      grid-area: skill-2;
    }

    .skill-3 {
      grid-area: skill-3;
    }

    .skill {
      background: lighten($primary-color, 70);
      padding: 1rem;
      border-top: 5px solid $secondary-color;
      color: $primary-color;
      box-shadow: $box-shadow;
      border-radius: 5px;
      @include easeOut;
      display: flex;
      justify-content: center;

      &:hover {
        box-shadow: $box-shadow-active;
      }

      .skill-content {
        width: 100%;
        &-heading {
          text-align: center;
          padding-bottom: 0.5rem;
        }
      }

      p::before {
        content: "";
        display: inline-block;
        background: $grey600;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }

    .skill-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;

      .skill-icon {
        margin: 0.4rem;

        &.fa-html5 {
          color: #dd4b25;
        }

        &.fa-css3-alt {
          color: #146eb0;
        }

        &.fa-js {
          color: #efd81d;
        }

        &.fa-sass {
          color: #cf649a;
        }

        &.fa-node {
          color: #79b461;
        }

        &.fa-npm {
          color: #cb3837;
        }

        &.fa-database {
          color: #363739;
        }

        &.fa-code-branch {
          color: #fff;
          background: #f64d27;
          padding: 0.5rem;
          border-radius: 5px;
        }

        &.fa-github {
          color: $github;
        }

        &.fa-terminal {
          color: #fff;
          background: #020204;
          padding: 0.5rem;
          border-radius: 5px;
        }

        &:hover {
          transform: scale(1.1);
          @include easeOut;
        }
      }
    }
  }
}

// Projects section

#projects {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  .projects-heading,
  .projects-heading-secondary {
    text-align: center;
  }

  .heading-tertiary {
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
  }

  .projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .project-tile {
      max-width: 400px;
      margin: 0 auto 3rem auto;
      margin-bottom: 3rem;
      background: $grey100;
      box-shadow: $box-shadow;
      border-radius: 5px;
      @include easeOut;

      &-body {
        padding: 1rem 1rem 1rem 1.5rem;
      }

      &-title,
      &-text {
        padding-bottom: 0.5rem;
      }

      &:hover {
        box-shadow: $box-shadow-active;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
      }

      ul {
        padding-bottom: 1rem;

        li::before {
          content: "";
          display: inline-block;
          background: $grey600;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .web-apps {
    display: flex;
  }
}

// Button styles
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;

  &:hover {
    color: set-text-color;
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: $github;

  &:hover {
    background: $github-dark;
  }
}

.btn-light {
  @extend .btn;
  background: $tertiary-color;

  &:hover {
    background: $tertiary-color-dark;
  }
}

#contact {
  width: 100%;
  min-height: calc(100vh - 60px);

  .contact-heading {
    margin: 2rem;
    text-align: center;
  }

  .contact-heading-secondary {
    @extend .contact-heading;
  }

  .contact-icons {
    text-align: center;
    margin: 1rem;

    i {
      margin: 1rem;
      padding: 2.5rem;
      background: lighten($primary-color, 50);
      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

#main-footer {
  height: 60px;
  padding: 1rem;
  background: $grey900;
  color: set-text-color($primary-color);
  text-align: center;
}
