// Widescreens
@include mediaXL {
}

// Desktops and laptops
@include mediaLg {
}

// Tablets and small laptops
@include mediaMd {
  #welcome-section {
    padding: 4rem 2rem;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

// Smartphones
@include mediaSm {
  #welcome-section h1 {
    margin-top: 10vh;
  }
}
