// Tablets and small laptops
@include mediaSm {
  .landing {
    padding: 4rem;

    &__heading {
      margin-top: 20vh;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

// Desktops and laptops
@include mediaMd {
  .menu {
    &__nav,
    &__branding {
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &__nav {
      transform: translate3d(0, -100%, 0);
    }

    &__branding {
      transform: translate3d(0, 100%, 0);

      .portrait {
        width: 250px;
        height: 250px;
        background: url(https://res.cloudinary.com/gerhynes/image/upload/e_grayscale/v1548518469/portrait_jqq3ud.jpg);
      }
    }
    &__nav-item {
      transform: translate3d(600px, 0, 0);
    }
  }

  .landing {
    &__heading {
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  .about {
    padding: 4rem;
    &__info {
      grid-template-areas:
        "about-heading about-heading"
        "bioimage bio"
        "skills-heading skills-heading"
        "skill-1 icons-1"
        "icons-2 skill-2"
        "skill-3 icons-3";
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .projects-gallery .projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

// Widescreens
@include mediaLg {
  .about {
    padding: 4rem;

    .skill__content {
      width: 60%;
    }
  }
  .projects-gallery .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
