// Widescreens
@include mediaXL {
  #projects .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops and laptops
@include mediaLg {
  #projects .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets and small laptops
@include mediaMd {
  #welcome-section {
    padding: 4rem 2rem;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../img/elmer-riggs-small.jpg);
      width: 150px;
      height: 150px;
    }
  }

  #about .about-info {
    // display: block;
    grid-template-areas:
      "about-heading"
      "bioimage"
      "bio"
      "skills-heading"
      "skill-1"
      "skill-2"
      "skill-3";
    grid-template-columns: 1fr;

    .bio-heading {
      text-align: center;
    }
  }

  #projects .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  #welcome-section h1 {
    margin-top: 10vh;
  }

  #projects .projects {
    grid-template-columns: 1fr;
  }
}
